SIGNAL_API_BASE_URL=https://signal-api.zx-dx.xyz
BRIDGE_HOST=127.0.0.1
BRIDGE_PORT=8789
BRIDGE_AUTH_TOKEN=
SIGNAL_REQUEST_TIMEOUT_MS=15000
AI_GATEWAY_BASE_URL=https://beta.zxlab.pages.dev
AI_GATEWAY_ACCESS_TOKEN=
AI_GATEWAY_REQUEST_TIMEOUT_MS=90000
MARKET_API_BASE_URL=https://beta.zxlab.pages.dev
MARKET_REQUEST_TIMEOUT_MS=15000
CANONICAL_MEMORY_API_BASE_URL=https://signal-api.zx-dx.xyz
CANONICAL_MEMORY_API_TOKEN=
CANONICAL_MEMORY_REQUEST_TIMEOUT_MS=15000
CF_ACCESS_CLIENT_ID=
CF_ACCESS_CLIENT_SECRET=
