---	
interface Props {
	title?: string;
	description?: string;
}

const {
	title = "zxlab",
	description = "A personal lab for projects,notes,and experiements"

}=Astro.props;
---
<!doctype html>
<html lang="zh-CN">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width"/>
		<meta name="description" content="description"/>
		<title>{title}</title>
	</head>
	<body>
		<slot/>
	</body>
</html>